<div class="modal fade" id="Modal_delete_users" tabindex="-1" aria-labelledby="Modal_delete_users" aria-hidden="true">


	<div class="modal-dialog ">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="title">delete user</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>are you sure delete user??</p>
			</div>
			<div class="modal-footer">

				<a href="/admin/all_users">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">return users list</button>
				</a>
				<form action="/admin/delete_user" method="POST">

					<input type="hidden" name="id" value="{{ user.id }}">

					<button type="submit" class="btn btn-danger">Delete user</button>
				</form>
			</div>
		</div>
	</div>
</div>
