<div class="container-fluid">
	<footer class="col-12 d-flex flex justify-content-between background-ws-dark py-3 mt-2">
		<p class="col-4 mb-0 text-light">&copy; 2022 Company, Inc</p>

		<a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
			<svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
		</a>

		<ul class="nav col-4  justify-content-start">
			<li class="nav-item">
				<a href="#" class="nav-link px-2 text-light">MIT Jikan</a>

			</li>
			<li class="nav-item">
				<a href="#" class="nav-link px-2 text-light">MIT Bootstrap</a>

			</li>
			<li class="nav-item">
				<a href="#" class="nav-link px-2 text-light">Antony</a>

			</li>
			<li class="nav-item">
				<a href="#" class="nav-link px-2 text-light">Tolo</a>

			</li>
			<li class="nav-item">
				<a href="#" class="nav-link px-2 text-light">Pierre</a>

			</li>
			<li class="nav-item">
				<a href="#" class="nav-link px-2 text-light">Julien</a>

			</li>
			<li class="nav-item">
				<a href="#" class="nav-link px-2 text-light">Kilian</a>

			</li>


		</footer>
	</div>
