<nav class="navbar title shadow-xl bg-body rounded opacity-85  mb-2 mt-2 mx-4">

	<div class="container-fluid">
		<div class="d-flex">

			<div class="mx-auto mx-md-0 w-100">
				<a class="navbar-brand" href="/home">
					<img src="https://ih1.redbubble.net/image.1998199613.9126/flat,128x,075,f-pad,128x128,f8f8f8.jpg" alt="Logo" width="60" height="44" class="d-inline-block align-text-top">

				</a>
			</div>

		</div>


		<div class=" flex-shrink-1 bd-highlight  display-3 title" id="navbarSupportedContent">

			{% block title %}jean le grand
			{% endblock %}

		</div>

		{% include "_Component/_form_register_login.html.twig"  with {'session': session} %}

	</div>
</nav>
