<div class="d-none d-md-block d-xl-block background-ws-dark d-flex flex-column rounded flex-shrink-0 p-3 w-100">


	<a href="/" class="d-flex align-items-center h2  mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
		<svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
		<span class="fs-4 title">Sidebar</span>
	</a>
	<hr>
	<ul class="nav  flex-column mb-auto background-ws-light">
		<li class="nav-item">
			<a href="#" class="nav-link btn-warning text-light active" aria-current="page">
				<svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
				Home
			</a>
		</li>
		<li>
			<a href="#" class="nav-link link-dark">
				<svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
				Anime
			</a>
		</li>
		<li>
			<a href="#" class="nav-link link-dark">
				<svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
				Manga
			</a>
		</li>


	</ul>
	<hr>
</div>
