<form action="/anime/search?q={{ query }}" method="get">
    <label for="Search anime" class="mb-2"><span class="fs-4 title">Search Anime</span></label>
    <input class="form-control me-2" type="text" placeholder="Search" name="query" aria-label="Search">
    <div class="d-flex flex-column">

        <button class=" btn btn-warning mt-2" type="submit">Search</button>
    </div>

</form>
