<h2 class="text-center title">Streaming episodes</h2>
{% if episode == true %}

<ul class="list-group m-2 overflow-scroll" style="max-height:20em">
	{% for i in 0..24 %}
		<li class="list-group-item   background-ws-dark">

			<a class="text-light" href="{{ episode[i].getUrl }}" target="_blank">


				{{ episode[i].getTitle }}</a>

		</li>
    {% endfor %}
</ul>

    {% else %}
        <h4 class="text-light text-center">No episodes available</h4>

    {% endif %}


